<h1><%= @customer.name %>さんの編集画面</h1>

<%= form_with model: @customer, url: customer_path(@customer.id), method: :patch do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

  <%= f.label :is_active %><br />
  <%= f.select :is_active, [['有効', true], ['退会', false]] %>
  <br />
  <%= f.submit "変更" %>

<% end %>
