<div class="row">
  <div class="col"><%= f.label :image, "商品画像" %></div>
  <div class="col"><%= f.file_field :image, accept: "image/*" %></div>
</div>

<div class="row">
  <div class="col"><%= f.label :name, "商品名" %></div>
  <div class="col"><%= f.text_field :name %></div>
</div>

<div class="row">
  <div class="col"><%= f.label :introduction, "商品説明" %></div>
  <div class="col"><%= f.text_area :introduction %></div>
</div>

<div class="row">
  <div class="col"><%= f.label :genre_id, "ジャンル" %></div>
  <div class="col"><%= f.select :genre_id, @genres.map {|id, name| [name, id]}, include_blank:"--選択してください--" %></div>
</div>

<div class="row">
  <div class="col"><%= f.label :price, "単価" %></div>
  <div class="col"><%= f.text_field :price %> 円</div>
</div>

<div class="row">
  <div class="col"><%= f.label :is_active, "販売ステータス" %></div>
  <div class="col">
    <%= f.radio_button :is_active, true %>
    <%= f.label :is_active_true, "販売中" %>

    <%= f.radio_button :is_active, false %>
    <%= f.label :is_active_false, "販売停止中" %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= f.submit "#{@submit}", class:"btn btn-success w-25 my-2" %>
</div>