<h3>商品一覧</h3>

<table class="table table-hover table-inverse">
  <thead class="table-secondary">
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>値段</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td><%= item.is_active %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to "商品登録", new_admin_item_path %></p>

