<h3 class="my-3">商品詳細</h3>


<div class="row">
  <div class="col-4">
    <%= image_tag @item.get_item_image.variant(resize_to_limit: [200, 240]).processed %>
  </div>

  <div class="col-8">
    <div class="container">
      <div class="row">
        <div class="col-4">商品名</div>
        <div class="col-8"><%= @item.name %></div>
      </div>

      <div class="row">
        <div class="col-4">商品説明</div>
        <div class="col-8"><%= @item.introduction %></div>
      </div>

      <div class="row">
        <div class="col-4">ジャンル</div>
        <div class="col-8"><%= @item.genre.name %></div>
      </div>

      <div class="row">
        <div class="col-4">税込価格<br>（税抜価格）</div>
        <div class="col-8"><%= @item.price %></div>
      </div>

      <div class="row">
        <div class="col-4">販売ステータス</div>
        <div class="col-8">
          <% if @item.is_active %>
            <p class="font-weight-bold text-success">販売中</p>
          <% else %>
            <p class="font-weight-bold text-secondary">販売停止中</p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <%= link_to "編集する", edit_admin_item_path(@item.id), class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>