<h1>カートの中</h1>
<% @cart.each do |cart| %>
  <%= cart.item.name %>
  <%= cart.amount %>個
  <%= link_to "-", cart_item_path(cart.id, sign: 0), method: :patch %>
  <%= link_to "+", cart_item_path(cart.id, sign: 1), method: :patch %>
  <%= link_to "削除", cart_item_path(cart.id), method: :delete %>
  <br />
<% end %>