<h1>カートの中</h1>
<% @cart.each do |cart| %>
  <%= cart.item.name %>
  <%= cart.amount %>個
  <%= link_to "-", cart_item_path(cart.id, sign: 0), method: :patch %>
  <%= link_to "+", cart_item_path(cart.id, sign: 1), method: :patch %>
  <%= link_to "削除", cart_item_path(cart.id), method: :delete %>
  <br />
<% end %>
<%= link_to "すべて削除", all_destroy_path, method: :delete, "data-confirm" => "全てのカートの商品を削除します。\nよろしいですか？" %>
<hr />
<%= link_to "注文", new_order_path %>