<h3>注文情報入力画面</h3>
<%= form_with model: @order, url: orders_path, method: :post do |f| %>
  <h4 class="mt-3">支払い方法</h4>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method_credit_card, 'クレジットカード' %><br>

  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method_transfer, '銀行振込' %>


  <h4 class="mt-3">お届け先</h4>

  <!--ご自身の住所-->
  <%= f.radio_button :address_option, 0 %>
  <%= f.label :address_option_0, "ご自身の住所", class:"h5" %>
  <br>
  <!--登録済みの住所-->
  <%= f.radio_button :address_option, 1 %>
  <%= f.label :address_option_1, "ご自身の住所", class:"h5" %>
  <br>
  <!--新規住所-->
  <%= f.radio_button :address_option, 2 %>
  <%= f.label :address_option_2, "新規住所", class:"h5" %>
  <br>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %>
  <br>
  <%= f.label :post_number, "郵便番号" %>
  <%= f.text_field :post_number %>
  <br>
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name %>
  <br>
  
  <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
<% end %>
