<h3>注文情報入力画面</h3>
<%= form_with model: @order, url: orders_path, method: :post do |f| %>
  <h4 class="mt-3">支払い方法</h4>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method_credit_card, 'クレジットカード' %><br>

  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method_transfer, '銀行振込' %>


  <h4 class="mt-3">お届け先</h4>

  <h5>新しいお届け先</h5>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %>
  <br>
  <%= f.label :post_number, "郵便番号" %>
  <%= f.text_field :post_number %>
  <br>
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name %>
  <br>
  
  <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
<% end %>
