<div class="row">
  <div class="col-3">
    <!--ジャンル表-->
    <%= render "public/genres/table", genres: @genres %>
  </div>
  <div class="col-9">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3><%= @index_name %>一覧</h3>
        </div>

        <div class="col">(全<%= @count %>件)</div>
      </div>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-3 d-flex flex-wrap">
            <div>
              <%= image_tag item.get_item_image.variant(resize_to_limit: [100, 120]).processed %>
              <br>
              <%= link_to "#{item.name}", item_path(item.id) %>
              <br>
              <%= item.tax_price %>円
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @items %>
    </div>

  </div>
</div>