<div class="row">
  <div class="col-3">
    <!--ジャンル表-->
    <%= render "public/genres/table", genres: @genres %>
  </div>
  <div class="col-3">
    画像
  </div>
  <div class="col-6">
    <div class="container">
      <div class="row">
        <h3><%= @item.name %></h3>
      </div>
      <div class="row">
        <p><%= @item.introduction %></p>
      </div>
      <div class="row">
        <h4>￥ <%= @item.price %></h4>（税込）
      </div>
      <div class="row">
        <%= form_with model: @cart do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :amount, options_for_select((1..10).to_a), prompt: "個数選択", class: "form-select" %>
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>

  </div>
</div>