<div class="col-4">
  <h2><i class="fa-solid fa-user-tag"></i>管理者用ページ</h2>
</div>
<div class="col-8">
  <% if admin_signed_in? %>
    <ul class="nav my-2">
      <li class="nav-item mx-1"><%= link_to "商品一覧", admin_items_path, class:"btn btn-outline-secondary" %></li>
      <li class="nav-item mx-1"><%= link_to "会員一覧", admin_customers_path, class:"btn btn-outline-secondary" %></li>
      <li class="nav-item mx-1"><%= link_to "注文履歴一覧", admin_root_path, class:"btn btn-outline-secondary" %></li>
      <li class="nav-item mx-1"><%= link_to "ジャンル一覧", admin_genres_path, class:"btn btn-outline-secondary" %></li>
      <li class="nav-item mx-1"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-outline-secondary" %></li>
    </ul>

    <%= search_form_for @q, url: admin_items_path, method: :get do |f| %>
      <div class="d-flex justify-content-end my-3">
        <div class="mx-1"><%= f.label :name_cont, "商品名検索", class: "form-label" %></div>
        <div class="mx-1"><%= f.search_field :name_cont, class: "form-control" %></div>
        <div class="mx-1"><%= f.submit "検索", class: "btn btn-primary" %></div>
      </div>
    <% end %>

  <% else %>
    <ul class="nav my-2">
      <li class="nav-item mx-1"><%= link_to "About", about_path, class: "btn btn-outline-secondary" %></li>
      <li class="nav-item mx-1"><%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary" %></li>
      <li class="nav-item mx-1"><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary" %></li>
      <li class="nav-item mx-1"><%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary" %></li>
    </ul>
  <% end %>
</div>