<div class="col-4">
  <%= link_to root_path, class: "nav-link me-2" do %>
    <button type="button" class="btn btn-outline-dark w-25">LOGO</button>
  <% end %>
</div>
<div class="col-8">
  <% if customer_signed_in? %>
    <ul>
      <li><%= link_to "マイページ", customer_path(current_customer.id) %></li>
      <li><%= link_to "商品", items_path %></li>
      <li><%= link_to "カート", cart_items_path %></li>
      <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
    </ul>
    <h3>ログインユーザ：<%= current_customer.last_name %> <%= current_customer.first_name %></h3>
  <% else %>
    <ul class="nav">
      <li class="nav-item me-2">
        <%= link_to about_path, class: "nav-link me-2" do %>
          <button type="button" class="btn btn-outline-secondary">About</button>
        <% end %>
      </li>
      <li class="nav-item me-2">
        <%= link_to items_path, class: "nav-link me-2" do %>
          <button type="button" class="btn btn-outline-secondary">商品一覧</button>
        <% end %>
      </li>
      <li class="nav-item me-2">
        <%= link_to new_customer_registration_path, class: "nav-link me-2" do %>
          <button type="button" class="btn btn-outline-secondary">新規登録</button>
        <% end %>
      </li>
      <li class="nav-item me-2">
        <%= link_to new_customer_session_path, class: "nav-link me-2" do %>
          <button type="button" class="btn btn-outline-secondary">ログイン</button>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>